section:nth-of-type(2) {
    background: #252934;
    color: #fff;
    padding-top: 175px;
}

section:nth-of-type(2) svg {
    left: 0;
    position: absolute;
    top: 0;
}

section:nth-of-type(2) .highlight {
    color: #04c2c9;
    font-weight: 600;
}

section:nth-of-type(2) form {
    margin: 40px auto 0 auto;
    min-width: 45%;
}

section:nth-of-type(2) input[type=text], section:nth-of-type(2) input[type=email], section:nth-of-type(2) textarea {
    background: #1e242c;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-size: 12pt;
    margin-bottom: 3px;
    outline: none;
    padding: 10px 15px;
    width: 100%;
}

section:nth-of-type(2) .button {
    background: transparent;
    color: #fff;
    float: right;
    font-size: 12pt;
    margin: 5px 0 0 0;
    outline: 0;
    padding: 10px 30px;
    border: 1px solid white;
}

div[role='alert'] {
    color: red;
    margin-top: 1em;
  }

  .message-chars-left {
    width: 600px;
    margin: auto;
    text-align: left;
  }