.bannerBackground{
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/images/BannerImg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
   }
   h1, h2{
    font-family: "Montserrat", sans-serif;
       
   }
   
   .bannerBackground{
       text-align: left;
       color: #fff;
   }
   
   .bannerBackground .name{
       color: #61dafb;
   }
   
   